<div class="backcolor_show">
  <div class="show">

    <h1>- 入庫情報詳細 -</h1>

    <table class="showtable">
      <tr><th>入庫日</th><td><%= @in_entry.entry_date&.strftime("%-m月%-d日") %></td></tr>
      <tr><th>会社名</th><td><%= @in_entry.company_name %></td></tr>
      <tr><th>運転者名</th><td><%= @in_entry.driver_name %></td></tr>
      <tr><th>型式</th><td><%= @in_entry.model %></td></tr>
      <tr><th>車体番号</th><td><%= @in_entry.chassis_number %></td></tr>
      <tr><th>引取先</th><td><%= @in_entry.pickup_location %></td></tr>
      <tr><th>異常の有無</th><td><%= @in_entry.has_abnormality ? "有" : "無" %></td></tr>
      <tr><th class="message">メッセージ</th><td><%= @in_entry.message.presence || "なし" %></td></tr>
    </table>

    <div class="bottombtn">
      <%= link_to "戻る", in_entries_path, class: "back_btn" %>
      <div class="deletecontainer">
        <%= button_to "削除", in_entry_path(@in_entry), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete_btn" %>
      </div>
    </div>

  </div>
</div>
