<div class="backcolor_schedule">

  <div class="forphone">
    <div class="header">
      <div class="headerbox">
        <h1>- 入庫編集 -</h1>
        <p>
          不明点等ございましたらご連絡ください。<br>
          西村：080-9027-9702
        </p>
        <p style="margin-bottom: 0; padding-top: 20px; color: rgb(224, 0, 0); border-top: 1px solid lightgray; font-size: 15px">
          ※ 必須の質問です
        </p>
      </div>
    </div>

    <%= form_with model: @in_entry, url: in_entry_path(@in_entry), method: :patch, local: true do |form| %>

      <div class="q date">
        <b><%= form.label :entry_date, "入庫日" %><sup class="require">※</sup><br></b>
        <%= form.date_field :entry_date, value: @in_entry.entry_date %>
      </div>

      <div class="q">
        <b><%= form.label :radio_company_name, "会社名" %><sup class="require">※</sup><br></b>
        <%= form.radio_button :radio_company_name, "北峯", checked: @in_entry.company_name == "北峯" %> 北峯 <br>
        <%= form.radio_button :radio_company_name, "スギタニ", checked: @in_entry.company_name == "スギタニ" %> スギタニ<br>
        <%= form.radio_button :radio_company_name, "海老名", checked: @in_entry.company_name == "海老名" %> 海老名<br>
        <%= form.radio_button :radio_company_name, "グローバル", checked: @in_entry.company_name == "グローバル" %> グローバル<br>
        <%= form.radio_button :radio_company_name, "永山運輸", checked: @in_entry.company_name == "永山運輸" %> 永山運輸<br>
        <%= form.radio_button :radio_company_name, "グットラック", checked: @in_entry.company_name == "グットラック" %> グットラック<br>
        <%= form.radio_button :radio_company_name, "コックス", checked: @in_entry.company_name == "コックス" %> コックスギア<br>
        <%= form.text_field :company_name, placeholder: "その他", value: @in_entry.company_name unless ["北峯", "スギタニ", "海老名", "グローバル", "永山運輸", "グットラック", "コックス"].include?(@in_entry.company_name) %>
      </div>

      <div class="q">
        <b><%= form.label :driver_name, "運転者名" %><sup class="require">※</sup><br></b>
        <%= form.text_field :driver_name, placeholder: "苗字のみ", value: @in_entry.driver_name %>
      </div>

      <div class="q">
        <b><%= form.label :radio_model, "型式" %><sup class="require">※</sup><br></b>
        <%= form.radio_button :radio_model, "CYJ77D", checked: @in_entry.model == "CYJ77D" %> CYJ77D<br>
        <%= form.radio_button :radio_model, "CYL77D", checked: @in_entry.model == "CYL77D" %> CYL77D<br>
        <%= form.radio_button :radio_model, "FRR90", checked: @in_entry.model == "FRR90" %> FRR90<br>
        <%= form.radio_button :radio_model, "FTR90", checked: @in_entry.model == "FTR90" %> FTR90<br>
        <%= form.radio_button :radio_model, "FSR90", checked: @in_entry.model == "FSR90" %> FSR90<br>
        <%= form.text_field :model, placeholder: "その他", value: @in_entry.model unless ["CYJ77D", "CYL77D", "FRR90", "FTR90", "FSR90"].include?(@in_entry.model) %>
      </div>

      <div class="q">
        <b><%= form.label :chassis_number, "車体番号" %><sup class="require">※</sup><br></b>
        <%= form.text_field :chassis_number, placeholder: "車体番号", value: @in_entry.chassis_number %>
      </div>

      <div class="q">
        <b><%= form.label :radio_pickup_location, "引取先" %><sup class="require">※</sup><br></b>
        <%= form.radio_button :radio_pickup_location, "東燃", checked: @in_entry.pickup_location == "東燃" %> 東燃<br>
        <%= form.radio_button :radio_pickup_location, "藤沢工場", checked: @in_entry.pickup_location == "藤沢工場" %> 藤沢工場<br>
        <%= form.radio_button :radio_pickup_location, "UD上野", checked: @in_entry.pickup_location == "UD上野" %> UD上野<br>
        <%= form.radio_button :radio_pickup_location, "東海", checked: @in_entry.pickup_location == "東海" %> 東海<br>
        <%= form.radio_button :radio_pickup_location, "久松", checked: @in_entry.pickup_location == "久松" %> 久松<br>
        <%= form.radio_button :radio_pickup_location, "トレクス", checked: @in_entry.pickup_location == "トレクス" %> トレクス<br>
        <%= form.text_field :pickup_location, placeholder: "その他", value: @in_entry.pickup_location unless ["東燃", "藤沢工場", "UD上野", "東海", "久松", "トレクス"].include?(@in_entry.pickup_location) %>
      </div>

      <div class="q">
        <b><%= form.label :has_abnormality, "異常の有無" %><sup class="require">※</sup><br></b>
        <%= form.radio_button :has_abnormality, false, checked: !@in_entry.has_abnormality %> 無 <br>
        <%= form.radio_button :has_abnormality, true, checked: @in_entry.has_abnormality %> 有
      </div>

      <div class="q">
        <b><%= form.label :message, "メッセージ" %><br></b>
        <%= form.text_area :message, placeholder: "特記事項を入力してください", value: @in_entry.message %>
      </div>

      <div class="bottombtn">
      <%= link_to "戻る", in_entries_path, class: "back_btn" %>
      <%= form.submit "更新", class: "submit_btn" %>
      </div>
    <% end %>

  </div>
</div>
