<% content_for :hide_footer, true %>

<div class="backcolor_schedule">

<div class="forphone">
<div class="header">
  <div class="headerbox">
    <h1>- 入庫登録 -</h1>
    <p>
      不明点等ございましたらご連絡ください。<br>
      西村：080-9027-9702
    </p>
    <p style="margin-bottom: 0; padding-top: 20px; color: rgb(224, 0, 0); border-top: 1px solid lightgray; font-size: 15px">
    ※ 必須の質問です
    </p>
  </div>
</div>

<%= form_with model: @in_entry, url: confirm_in_entries_path, local: true, data: { turbo: false } do |form| %>

  <div class="q date">
    <b><%= form.label :entry_date, "入庫日" %><sup class="require">※</sup><br></b>
    <%= form.date_field :entry_date, value: @in_entry.entry_date %>
  </div>

  <div class="q">
    <b><%= form.label :radio_company_name, "会社名" %><sup class="require">※</sup><br></b>
    <%= form.radio_button :radio_company_name, "北峯" %> 北峯 <br>
    <%= form.radio_button :radio_company_name, "スギタニ" %> スギタニ<br>
    <%= form.radio_button :radio_company_name, "海老名" %> 海老名<br>
    <%= form.radio_button :radio_company_name, "グローバル" %> グローバル<br>
    <%= form.radio_button :radio_company_name, "永山運輸" %> 永山運輸<br>
    <%= form.radio_button :radio_company_name, "グットラック" %> グットラック<br>
    <%= form.radio_button :radio_company_name, "コックス" %> コックスギア<br>
    <%= form.text_field :company_name, placeholder: "その他" %>
  </div>
  <div class="q">
    <b><%= form.label :driver_name, "運転者名" %><sup class="require">※</sup><br></b>
    <%= form.text_field :driver_name, placeholder: "苗字のみ"  %>
  </div>
  <div class="q">
    <b><%= form.label :radio_model, "型式" %><sup class="require">※</sup><br></b>
    <%= form.radio_button :radio_model, "CYJ77D" %> CYJ77D<br>
    <%= form.radio_button :radio_model, "CYL77D" %> CYL77D<br>
    <%= form.radio_button :radio_model, "FRR90" %> FRR90<br>
    <%= form.radio_button :radio_model, "FTR90" %> FTR90<br>
    <%= form.radio_button :radio_model, "FSR90" %> FSR90<br>
    <%= form.text_field :model, placeholder: "その他" %>
  </div>
  <div class="q">
    <b><%= form.label :chassis_number, "車体番号" %><sup class="require">※</sup><br></b>
    <%= form.text_field :chassis_number, placeholder: "車体番号" %>
  </div>
  <div class="q">
    <b><%= form.label :radio_pickup_location, "引取先" %><sup class="require">※</sup><br></b>
    <%= form.radio_button :radio_pickup_location, "東燃" %> 東燃<br>
    <%= form.radio_button :radio_pickup_location, "藤沢工場" %> 藤沢工場<br>
    <%= form.radio_button :radio_pickup_location, "UD上野" %> UD上野<br>
    <%= form.radio_button :radio_pickup_location, "東海" %> 東海<br>
    <%= form.radio_button :radio_pickup_location, "久松" %> 久松<br>
    <%= form.radio_button :radio_pickup_location, "トレクス" %> トレクス<br>
    <%= form.text_field :pickup_location, placeholder: "その他" %>
  </div>
  <div class="q">
    <b><%= form.label :has_abnormality, "異常の有無" %><sup class="require">※</sup><br></b>
    <%= form.radio_button :has_abnormality, false %> 無 <br>
    <%= form.radio_button :has_abnormality, true %> 有
  </div>
  <div class="q">
    <b><%= form.label :message, "メッセージ" %><br></b>
    <%= form.text_area :message, placeholder: "特記事項を入力してください" %>
  </div>
  
  <div class="bottombtn">
    <%= form.submit "確認画面へ", class: "submit_btn" %>
  </div>
<% end %>

</div>
</div>