<div class="backcolor_schedule">
  <div class="forphone">
    <div class="header">
      <div class="headerbox">
        <h1>- 業務日程編集 -</h1>
        <p>
          修正後は更新を押してください。
        </p>
        <p style="margin-bottom: 0; padding-top: 20px; color: rgb(224, 0, 0); border-top: 1px solid lightgray; font-size: 15px">
        ※ 必須の質問です
        </p>
      </div>
    </div>

    <%= form_with model: @schedule, local: true do |form| %>
      <%= form.hidden_field :plan_id %>

      <div class="q">
        <div class="no_edit">　型式：<%= @schedule.model.presence || "未設定" %></div>
        <div class="no_edit">　車番：</th><td><%= @schedule.chassis_number.presence || "未設定" %></div>
        <div class="no_edit">引取先：<%= @schedule.pickup_location.presence || "未設定" %></div>
        <div class="no_edit">納車先：<%= @schedule.delivery_location.presence || "未設定" %></div>
      </div>

      <div class="q date">
        <b><%= form.label :schedule_date, "移動時間" %><sup class="require">※</sup><br></b>
        <%= form.datetime_field :schedule_date, required: true, step: 3600, value: @schedule.schedule_date || DateTime.now.change({ hour: 9 }) %>
      </div>

      <div class="q">
        <b><%= form.label :responsible_person, "担当者" %><sup class="require">※</sup><br></b>
        <% ["未定", "西村", "土屋", "石川", "小笠原", "大原", "津田", "太我", "舜平", "竹本", "小野田"].each do |person| %>
          <%= form.radio_button :responsible_person, person, id: "responsible_person_#{person}", checked: @schedule.responsible_person == person %>
          <%= label_tag "responsible_person_#{person}", person %><br>
        <% end %>
        <%= form.radio_button :responsible_person, "その他", id: "responsible_person_other", checked: @schedule.responsible_person.present? && !["未定", "西村", "土屋", "石川", "小笠原", "大原", "津田", "太我", "舜平", "竹本", "小野田"].include?(@schedule.responsible_person) %>
        <%= label_tag "responsible_person_other", "その他" %><br>
        <%= form.text_field :other_responsible_person, placeholder: "その他の場合に入力", class: "optional-person", value: @schedule.responsible_person unless ["未定", "西村", "土屋", "石川", "小笠原", "大原", "津田", "太我", "舜平", "竹本", "小野田"].include?(@schedule.responsible_person) %>
      </div>

      <div class="q">
        <b><%= form.label :comment, "コメント" %></b><br>
        <%= form.text_area :comment, placeholder: "特記事項があれば入力してください", value: @schedule.comment.presence || "" %>
      </div>

      <div class="bottombtn">
        <%= link_to "戻る", schedules_path, class: "back_btn" %>
        <%= form.submit "更新", class: "submit_btn" %>
      </div>
    <% end %>

    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
</div>
