
<div class="tmp_home">
<div class="plans">
  <h1>登録済伝票(捌く前)</h1>

  <% if @grouped_plans_by_date.present? %>
    <% @grouped_plans_by_date.each do |date, plans| %>
      <h2 style="margin-top: 20px; border-top: 1px solid #ccc; padding: 20px 0 5px; text-align: left;">
        <%= l date, format: "%-m月%-d日(%a)" %>
      </h2>
      <table>
        <thead>
          <tr>
            <th class="th_no">No.</th>
            <th class="th_model">型式</th>
            <th class="th_chassis">車番</th>
            <th class="th_pickup">引取先</th>
            <th class="th_delivery">納車先</th>
            <th class="th_limit">期日</th>
            <th class="">コメント</th>
            <th class="">不具合内容</th>
            <th class="tablespace"></th>
            <th class="th_regi">振分</th>
            <th class="tablespace"></th>
            <th class="th_edit">編集</th>
            <th class="th_delete">削除</th>
            
          </tr>
          <tr>
            <th class="plansspace" colspan="13"></th>
          </tr>
        </thead>
        <tbody>
          <% plans.each_with_index do |plan, index| %>
            <tr class="trtop">
              <td style="text-align: center; background-color: #f9f9f9;"><%= index + 1 %></td>
              <td style="text-align: center;">
                <%= plan.model == "その他" ? plan.model_other.presence || "未設定" : plan.model %>
              </td>
              <td style="text-align: center;"><%= plan.chassis_number %></td>
              <td style="text-align: center;">
                <%= plan.pickup_location == "その他" ? plan.pickup_other.presence || "未設定" : plan.pickup_location %>
              </td>
              <td style="text-align: center;">
                <%= plan.delivery_location == "その他" ? plan.delivery_other.presence || "未設定" : plan.delivery_location %>
              </td>
              <td style="text-align: center;"><%= plan.move_date&.strftime("%-H時") %></td>
              <td class="th_message"><%= plan.comment %></td>
              <td class="th_message"><%= plan.issue_detail %></td>
              <td class="tablespace"></td>
              <td class="regibtn" style="text-align: center;"><%= link_to '振分', new_schedule_path(plan_id: plan.id), class: 'regibtn_in' %></td>
              <td class="tablespace"></td>
              <td style="text-align: center;" class="th_edit"><%= link_to '編集', edit_plan_path(plan), class: 'btn btn-primary' %></td>
              <td style="text-align: center;" class="th_delete">
                <%= link_to '削除', plan_path(plan), class: 'btn btn-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>登録済み伝票がありません。</p>
  <% end %>
</div>
</div>


<div class="displayphone">
  <h1>登録済伝票</h1>
  <table>
    <thead>
      <tr>
        <th class="th_no" rowspan="3">No.</th>
        <th class="th_modelchassis">
          型式：車番 <br>
          引取先 ➡︎ 納車先
        </th>
        <th class="tantou">
          期限
        </th>
        <th rowspan="3" class="tablespace"></th>
        <th class="th_movereco" rowspan="3">日程 <br> 担当</th>
      </tr>
      <tr>
        <th colspan="2" style="text-align: left;">コメント</th>
      </tr>
      <tr>
        <th colspan="2" style="text-align: left;">不具合</th>
      </tr>
    </thead>
  </table>
  <hr>

  <% @grouped_plans_by_date.each do |date, plans| %>
    <h2 style="margin-top: 20px; padding: 20px 0 5px; text-align: left">
      <%= l date, format: "%-m月%-d日(%a)" %>
    </h2>
    
    <table>
      <tbody>
        <% plans.each_with_index do |plan, index| %>
          <tr>
            <td data-edit-url="<%= edit_plan_path(plan) %>" class="borderleft th_no" rowspan="2">
              <%= index + 1 %>
            </td>
            <td data-edit-url="<%= edit_plan_path(plan) %>" class="th_modelchassis td_left">
              <%= plan.model %> ： <%= plan.chassis_number %><br>
              <%= plan.pickup_location %> ➡︎ <%= plan.delivery_location %>
            </td>
            <td data-edit-url="<%= edit_plan_path(plan) %>" class="borderbottom tantou">
              <%= plan.move_date.strftime("%-H時") %>
            </td>
            <td rowspan="2" class="tablespace"></td>
            <td rowspan="2" class="regibtn" style="text-align: center;">
              <%= link_to "振分", new_movement_record_path(plan_id: plan.id), class: "a" %>
            </td>
          </tr>
          <tr class="trbottom">
            <% if plan.comment.present? %>
              <td data-edit-url="<%= edit_plan_path(plan) %>" class="border td_left" colspan="2">
                <%= plan.comment %>
              </td>
            <% end %>
          </tr>
          <tr class="trbottom">
          <% if plan.issue_detail.present? %>
              <td data-edit-url="<%= edit_plan_path(plan) %>" class="border td_left" colspan="2">
                <%= plan.issue_detail %>
              </td>
            <% end %>
          </tr>
          <tr>
            <td colspan="2" class="th_underspace"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("td[data-edit-url]").forEach(cell => {
      cell.addEventListener("click", () => {
        const editUrl = cell.getAttribute("data-edit-url");
        if (editUrl) {
          window.location.href = editUrl;
        }
      });
    });
  });
</script>
