<h1>業務日報編集</h1>

<%= form_with model: @daily_report, local: true do |form| %>
  <div>
    <%= form.label :work_date, "日付" %>
    <%= form.date_field :work_date %>
  </div>

  <div>
    <%= form.label :employee_name, "担当者名" %>
    <%= form.text_field :employee_name %>
  </div>

  <div>
    <%= form.label :start_time, "出勤時間" %>
    <%= form.time_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, "退勤時間" %>
    <%= form.time_field :end_time %>
  </div>

  <div>
    <%= form.label :work_content, "業務内容" %>
    <%= form.text_field :work_content %>
  </div>

  <div>
    <%= form.label :remarks, "備考" %>
    <%= form.text_area :remarks %>
  </div>

  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>
