<div class="tmp_home">

<h1>日報一覧</h1>

<table>
  <thead>
    <tr>
      <th>担当者</th>
      <th>型式</th>
      <th>車体番号</th>
      <th>引取先</th>
      <th>納車先</th>
      <th>移動日</th>
      <th>依頼</th>
      <th>車両状態</th>
      <th>通行料金</th>
      <th>燃料費</th>
      <th>宿泊費</th>
      <th>交通費</th>
      <th>燃料量</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_reports.each do |report| %>
      <tr>
        <td><%= report.responsible_person %></td>
        <td><%= report.model %></td>
        <td><%= report.chassis_number %></td>
        <td><%= report.pickup_location %></td>
        <td><%= report.delivery_location %></td>
        <td><%= report.move_date %></td>
        <td><%= report.request_type %></td>
        <td><%= report.vehicle_condition %></td>
        <td><%= report.toll_fee_type %>: <%= report.toll_fee %>円</td>
        <td><%= report.fuel_fee_type %>: <%= report.fuel_fee %>円</td>
        <td><%= report.lodging_fee %>円</td>
        <td><%= report.transportation_fee %>円</td>
        <td><%= report.fuel_amount %>ℓ</td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>