<div class="backcolor_show">
  <div class="show dailyshow">
    <h1>- 日報詳細 -</h1>

    <table class="showtable">
      <tr><th>日付</th><td><%= l @daily_report.move_date, format: "%-m月%-d日" %></td></tr>
      <tr><th>担当者</th><td><%= @daily_report.responsible_person %></td></tr>
      <tr><th>出社 - 退社</th>
        <td>
          <%= @daily_report.start_time.strftime("%-H:%M") if @daily_report.start_time.present? %> -
          <%= @daily_report.end_time.strftime("%-H:%M") if @daily_report.end_time.present? %>
        </td>
      </tr>
      <tr><th>業務内容</th><td><%= @daily_report.work_content %></td></tr>
      <tr><th>備考</th><td><%= @daily_report.remarks.presence || "なし" %></td></tr>
    </table>

    <div class="bottombtn">
      <div class="backcontainer">
        <%= link_to "戻る", daily_reports_path, class: "back_btn" %>
      </div>
      <div class="editcontainer">
        <%= link_to "編集", edit_daily_report_path(@daily_report), class: "edit_btn" %>
      </div>
      <div class="deletecontainer">
        <%= button_to "削除", daily_report_path(@daily_report), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete_btn" %>
      </div>
    </div>
  </div>
</div>
